@model Apple_Clone_Website.Models.User

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    <link href="~/Content/Css/createUser.css" rel="stylesheet" />
}

<h2 class="text-center">SIGN UP</h2>

<div class="register-form-wrapper">
    @using (Html.BeginForm("Create", "User", FormMethod.Post))
    {
        @Html.ValidationSummary(true)
        <section class="basic-info">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <ul>
                <li>
                    <label for="username">Username: </label>
                    @Html.TextBox("txtUsername", "", htmlAttributes: new { @id = "username", @name = "username", @required = "required" })
                    @Html.ValidationMessageFor(model => model.Username)
                </li>
                <li>
                    <label for="password">Password: </label>
                    @Html.TextBox("txtPassword", "", htmlAttributes: new { @id = "password", @name = "password", @type = "password", @required = "required" })
                    @Html.ValidationMessageFor(model => model.Password)
                </li>
                <li>
                    <label for="email">Email: </label>
                    @Html.TextBox("txtEmail", "", htmlAttributes: new { @id = "email", @name = "email", @type = "email", @required = "required" })
                    @Html.ValidationMessageFor(model => model.Email)
                </li>
                <li>
                    <label for="tel">Phone number: </label>
                    @Html.TextBox("txtTel", "", htmlAttributes: new { @id = "tel", @name = "tel", @type = "tel" })
                </li>
                <li>
                    <label for="birthday">Birthday: </label>
                    @Html.TextBox("txtBirthday", "", htmlAttributes: new { @id = "birthday", @name = "birthday", @type = "date" })

                </li>
                <li>
                    <label for="country">Country: </label>
                    @Html.TextBox("txtCountry", "", htmlAttributes: new { @id = "country", @name = "country", @type = "text" })
                </li>
                <li>
                    <label for="gender">Gender: </label>
                    <section class="gender-options">
                        Male:   @Html.RadioButton("Gender", true)
                        Female: @Html.RadioButton("Gender", false)
                    </section>

                </li>
            </ul>
        </section>
        <section class="form-action">
            <button class="btn btn-dark w-100 my-3 py-3 w-100">Submit</button>
        </section>
    }
    <div class="text-center">Already have an account? <a href="DangNhap"><strong>Sign in</strong></a></div>
</div>