@model Apple_Clone_Website.Models.User

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section styles{
    <link href="~/Content/Css/detailUser.css" rel="stylesheet" />
}
<section class="user-detail">
    <h1>My Profile</h1>
    <ul>
        <li>
            <label for="userID">UserID:</label>
            <p>@Html.DisplayFor(model => model.UserID)</p>
        </li>
        <li>
            <label for="fullname">Fullname:</label>
            <p>@Html.DisplayFor(model => model.Username)</p>
        </li>
        <li>
            <label for="email">Email:</label>
            <p>@Html.DisplayFor(model => model.Email)</p>
        </li>
        <li>
            <label for="tel">Phone:</label>
            <p>@Html.DisplayFor(model => model.Phone)</p>
        </li>
        <li>
            <label for="birthday">Birthday:</label>
            <p>@Html.DisplayFor(model => model.Birthday)</p>
        </li>
        <li>
            <label for="gender">Gender:</label>
            @{
                var gioiTinh = Model.Gender;
                var text = "";
                if (gioiTinh == true) { text = "Male"; }
                else { text = "Female"; }

            }
            <p>@text</p>
        </li>
        <li>
            <label for="country">Country:</label>
            <p>@Html.DisplayFor(model => model.Country)</p>
        </li>
    </ul>
</section>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Username }) |
    @Html.ActionLink("Back to List", "Index")
</p>
