@model Apple_Clone_Website.Models.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div class="card">
    <div class="content">
        <div class="content-info">
            <div class="content-name">@Html.DisplayFor(model => model.Name)</div>
            <div class="content-title">buy now</div>
            <div class="content-desc">@Html.DisplayFor(model => model.Description)</div>
        </div>
        <img class="content-image" src="~/Content/Images/Products/" + @Html.DisplayFor(model => model.Image) alt="product">
    </div>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProductID.Trim() }) |
    @Html.ActionLink("Back to List", "Index")
</p>
